doctype html
html(lang='ru')
    head
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width,initial-scale=1')
        meta(name='description' content='Личный блог Типотека')
        meta(http-equiv='X-UA-Compatible' content='ie=edge')
        title Типотека
        link(rel='preload' href='./fonts/Inter-Regular.woff2' as='font' crossorigin='anonymous')
        link(rel='preload' href='./fonts/Inter-Medium.woff2' as='font' crossorigin='anonymous')
        link(rel='preload' href='./fonts/SFProDisplay-Regular.woff2' as='font' crossorigin='anonymous')
        link(rel='stylesheet' href='/css/style.min.css')
    body
        -
            const formatDate = (dateString) => new Date(dateString).toLocaleString('ru-RU', {day: '2-digit', month: '2-digit', year: 'numeric'});
       
        mixin insertArticleImage(article)
            img.preview__background-image(src=`/img/${article.photo ? article.photo : 'skyscraper@1x.jpg'}` alt=article.title width='460' height='240')

        mixin insertTime(article)
            time(class!=attributes.class, datetime=article.createdAt) #{formatDate(article.createdAt)}

        if nobackground
            .wrapper.wrapper--nobackground
                block content
                include partials/footer.pug
        else if color
            .wrapper-color
                block content
                include partials/footer.pug
        else 
            .wrapper
                block content
                include partials/footer.pug
        script(src='/js/vendor.js')
        script(src='/js/main.js')